<div class="container mt-5">
  <h1 class="display-4 text-center">Gestor Inventario - e-commerce</h1>
  <hr>
  <p class="lead">
    <strong>Gestor Inventario</strong> es una aplicación diseñada para la gestión eficiente de inventarios en
    plataformas de comercio electrónico. El sistema está desarrollado en .NET MVC para el frontend y .NET 7.0 en el
    backend, proporcionando una solución robusta, escalable y segura.
  </p>
  <p><strong>NOVEDADES</strong></p>
  <p>Este proyecto a sido actualizado a la ultima versión de .NET a la 9.0, esta aplicacion ha pasado de ser un simple
    gestor de inventario a tomar forma de un e-comerce</p>
  <h2 class="text-center mt-4">Características del Proyecto</h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Gestión de Datos:</strong> Operaciones CRUD (Crear, Leer, Actualizar, Eliminar)
      para usuarios, proveedores, productos, pedidos y su historial.</li>
    <li class="list-group-item"><strong>Autenticación Robusta:</strong> Soporte para autenticación con generación de
      tokens, incluyendo:
      <ul>
        <li>Autenticación simétrica.</li>
        <li>Autenticación asimétrica con clave pública y privada fija.</li>
        <li>Autenticación asimétrica con clave pública y privada dinámica.</li>
      </ul>
    </li>
    <li class="list-group-item"><strong>Generación de Informes:</strong> Exportación de reportes en formato PDF del
      historial de pedidos y productos.</li>
    <li class="list-group-item"><strong>Notificaciones por Correo Electrónico:</strong> Alerta automática cuando el
      stock de un producto está bajo.</li>
    <li class="list-group-item"><strong>Registro y Acceso de Usuarios:</strong> Registro de nuevos usuarios con
      confirmación por correo electrónico.</li>
    <li class="list-group-item"><strong>Panel de Administración:</strong> Herramienta para gestionar cuentas de usuario.
    </li>
    <li class="list-group-item"><strong>Sistema Basado en Roles:</strong> Control de acceso por niveles según permisos
      asignados.</li>
    <li class="list-group-item"><strong>Pasarela de Pago PayPal:</strong> Integración con PayPal para procesar pagos.
    </li>
    <li class="list-group-item"><strong>Restablecimiento de Contraseña:</strong> Opción para restablecer la contraseña
      mediante un correo con una clave temporal.</li>
    <li class="list-group-item"><strong>Flexibilidad en la Autenticación:</strong> Posibilidad de alternar entre los
      modos de autenticación modificando el código.</li>
    <li class="list-group-item"><strong>Gestión de Usuarios:</strong> Alta y baja de usuarios individuales o en masa por
      parte del administrador.</li>
    <li class="list-group-item"><strong>Docker:</strong> Configuración lista para desplegar en contenedores Docker.</li>
    <li class="list-group-item"><strong>Redis:</strong> Integración con Redis para mejorar el rendimiento.</li>
    <li class="list-group-item"><strong>Función de Reembolso:</strong> Nueva funcionalidad para procesar reembolsos de
      pedidos.</li>
  </ul>

  <hr>
  <p class="lead text-center">
    Puedes ver el código fuente en GitHub:
    <a href="https://github.com/blackl1ght98/GestorInventario" target="_blank" rel="noopener noreferrer">Ver
      Proyecto</a>
  </p>

  <div id="carouselExample" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let url of imageUrls['gestorinventario']; let i = index" class="carousel-item"
        [ngClass]="{'active': i === 0}">
        <img [src]="url" class="d-block w-100" alt="Imagen del proyecto">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
</div>
