<div class="container mt-5">
  <h2 class="custom-font">¡Mi viaje tecnológico no tiene límites, donde cada línea de código es una historia de
    superación y
    cada desafío es
    una oportunidad para brillar en el vasto universo digital! ¡Bienvenido a mi espacio, donde la determinación y la
    creatividad convergen para crear un futuro donde la diversidad es la fuerza que impulsa la revolución tecnológica!
  </h2>

  <section>
    <p>
      ¡Bienvenido a mi sitio web! Soy Guillermo Fuentes Buenosvinos, un apasionado de la tecnología con un sólido
      conocimiento en sistemas microinformáticos, redes y desarrollo web. A pesar de contar con un certificado de
      discapacidad +33%, mi compromiso con la excelencia en el servicio al cliente se refleja en mi capacidad para
      comprender las necesidades de los usuarios y encontrar soluciones efectivas.
      Con una formación académica en informática y una serie de cursos complementarios, he adquirido habilidades en
      desarrollo web, soporte de tecnologías de la información y seguridad informática. Actualmente, estoy cursando un
      programa de "Técnico Superior en Desarrollo de aplicaciones webs" para seguir fortaleciendo mis habilidades en
      desarrollo web.
      Me destaco en la atención al cliente, la resolución de problemas de hardware y software, y la enseñanza de
      tecnología a personas de todas las edades. Durante mis prácticas en el Centro Guadalinfo de Cañete de las Torres,
      desarrollé habilidades tanto técnicas como de comunicación, colaborando en la atención de solicitudes de usuarios
      y
      en la enseñanza de clases.
      Además, he participado en diversos proyectos personales, como el desarrollo de un Gestor de Tareas utilizando
      tecnologías como Angular, Bootstrap, HTML5, JavaScript, y CSS3. Este proyecto ha ayudado a los usuarios a
      mantenerse
      organizados y a realizar un seguimiento eficiente de sus tareas pendientes.
      Mis habilidades técnicas incluyen el dominio de lenguajes de programación como JavaScript, PHP, HTML5, CSS3, C#, y
      el uso de frameworks como Angular, Node.js y React. También tengo experiencia en el manejo de bases de datos como
      Microsoft SQL Server, MongoDB, y MySQL, así como en el uso de herramientas de desarrollo como Visual Studio Code y
      Visual Studio.
      Con disponibilidad de horario e incorporación inmediata, soy una persona responsable, activa, con habilidades
      sociales y facilidad para adaptarme a puestos y equipos de trabajo. Mi objetivo es contribuir al éxito de un
      equipo
      de tecnología mientras sigo aprendiendo y creciendo profesionalmente.
      ¡Gracias por visitar mi sitio web y conocer más sobre mí y mis habilidades en el mundo de la tecnología!
    </p>
  </section>

  <section>
    <h2 class="custom-font">Experiencia laboral</h2>
    <p>Prácticas del Ciclo Formativo Grado Medio realizadas en el Centro Guadalinfo de Cañete de las Torres las cuales
      tuvieron una duración de 420 horas y finalicé en 2019.
    </p>
  </section>

  <section>
    <h2 class="custom-font">Formación académica</h2>
    <ul class="list-group">
      <li class="list-group-item">CFGM “Sistemas Microinformáticos y Redes”. IES Mario López de Bujalance. 2019.</li>
      <li class="list-group-item">GRADUADO EN ESO. IES Mario López de Bujalance. 2017.</li>
      <li class="list-group-item">FPB “Informática y Comunicaciones”. 2017.</li>

    </ul>
  </section>
  <div class="container mt-5">
    <h2 class="custom-font">Mis Skills</h2>
    <div class="row">
      <!-- Columna de Frontend -->
      <div class="col-md-6">
        <section>
          <h3 class="custom-font">Frontend</h3>
          <ul class="list-group">
            <li class="list-group-item"><i class="bi bi-filetype-js"></i>JavaScript</li>
            <li class="list-group-item"><i class="bi bi-filetype-jsx"></i>React JS</li>
            <li class="list-group-item"><i class="bi bi-filetype-tsx"></i>TypeScript</li>
            <li class="list-group-item"><i class="bi bi-bootstrap"></i>Bootstrap</li>
            <li class="list-group-item"><i class="bi bi-filetype-js"></i>Angular</li>
          </ul>
        </section>
      </div>

      <!-- Columna de Backend -->
      <div class="col-md-6">
        <section>
          <h3 class="custom-font">Backend</h3>
          <ul class="list-group">
            <li class="list-group-item"><i class="bi bi-person"></i>Node JS</li>
            <li class="list-group-item"><i class="bi bi-filetype-sql"></i>MySQL</li>
            <li class="list-group-item"><i class="bi bi-hdd-network"></i>.NET</li>
            <li class="list-group-item"><i class="bi bi-code-slash"></i>Express</li>
            <li class="list-group-item"><i class="bi bi-badge-cc"></i>C#</li>

          </ul>
        </section>
      </div>
    </div>
  </div>


  <section>
    <h2 class="custom-font">Formación complementaria</h2>
    <ul class="list-group">
      <li class="list-group-item">Curso “Introducción al Desarrollo WEB I”. Google Actívate. 40 horas. 2021.</li>
      <li class="list-group-item">Curso “Introducción al Desarrollo WEB II” Google Actívate. 40 horas. 2021</li>
      <li class="list-group-item">Curso “Soporte de Tecnologías de la información de Google. Coursera 2021.</li>
      <li class="list-group-item">Curso “Administración de Equipos Informáticos y Ofimática en la Nube”. Andalucía
        Compromiso Digital. 30 horas. 2021.</li>
      <li class="list-group-item">Curso “Dinamizador de Cursos Elearning”. Andalucía Compromiso Digital. 30 horas. 2021.
      </li>
      <li class="list-group-item">Curso “Iniciación a la Programación WEB: PHP”. Andalucía Compromiso Digital. 30 horas.
      </li>
      <li class="list-group-item">Curso “Transformación Digital Personal”, Proyecto TAFO. Diputación de Córdoba. 15
        horas.</li>
      <li class="list-group-item">Curso “Dependencia 2.0: Uso de las Tic para el Apoyo a la Dependencia”. Andalucía
        Compromiso Digital. 30 horas. 2020</li>
      <li class="list-group-item">Curso “Community Manager”. Andalucía Compromiso Digital. 30 horas. 2020.</li>
      <li class="list-group-item">Curso “Iniciación a Business Intelligence y Big Data”. Andalucía Compromiso Digital.
        20
        horas. 2020.</li>
      <li class="list-group-item">Curso “Seguridad Informática”. Andalucía Compromiso Digital. 30 horas. 2020.</li>
      <li class="list-group-item">Curso “Introducción a la programación”. Fundación ONCE. 200 horas. 23/02/2023-
        27/04/2023
      </li>

      <li class="list-group-item">Curso “Desarrollo JS con Angular, React y Node”. Fundación ONCE. 320 horas.
        02/05/2023-28/07/2023
      </li>


    </ul>
  </section>

  <a class="btn btn-primary" href="https://drive.google.com/file/d/1G5VvhFylopjc0T2a0466oW8Y4Utz8Ley/view?usp=sharing"
    role="button">Ver CV</a>
</div>