<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Guillermo Fuentes - Desarrollador Web</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
  <style>
    body {
      font-family: 'Arial', sans-serif;
    }

    .custom-font {
      font-weight: bold;
      color: #007bff;
    }

    .section-title {
      margin-top: 40px;
      text-align: center;
      font-weight: bold;
      color: #343a40;
    }

    .list-group-item i {
      margin-right: 8px;
      color: #007bff;
    }

    .btn-primary {
      display: block;
      width: max-content;
      margin: 20px auto;
    }
  </style>
</head>

<body>

  <div class="container mt-5">
    <h2 class="custom-font text-center">
      ¡Mi viaje tecnológico no tiene límites! Cada línea de código es una historia de superación, cada desafío una
      oportunidad para brillar en el vasto universo digital.
    </h2>

    <section class="mt-4">
      <p class="text-justify">
        ¡Hola! Soy <b>Guillermo Fuentes Buenosvinos</b>, apasionado por la tecnología con experiencia en <b>desarrollo
          web, seguridad informática y administración de sistemas</b>. Actualmente, curso un programa de <b>Técnico
          Superior en Desarrollo de Aplicaciones Web</b>.
      </p>
      <p class="text-justify">
        Me destaco en la resolución de problemas, atención al cliente y enseñanza de tecnología. He desarrollado un
        <b>Gestor de Tareas</b> con <b>Angular, Bootstrap, JavaScript y CSS3</b>, ayudando a mejorar la productividad de
        los usuarios.
      </p>
      <p class="text-justify">
        Tengo experiencia en tecnologías como <b>C#, .NET, SQL Server, MongoDB, React, Angular y Node.js</b>.
        Actualmente, me especializo en <b>.NET MVC, Web API y Blazor</b>, explorando nuevas soluciones innovadoras.
      </p>
    </section>

    <h2 class="section-title">Experiencia Laboral</h2>
    <p class="text-center">Prácticas en <b>Centro Guadalinfo de Cañete de las Torres</b> (420 horas, 2019).</p>

    <h2 class="section-title">Formación Académica</h2>
    <ul class="list-group">
      <li class="list-group-item">📌 CFGM “Sistemas Microinformáticos y Redes” - IES Mario López (2019)</li>
      <li class="list-group-item">📌 Graduado en ESO - IES Mario López (2017)</li>
      <li class="list-group-item">📌 FPB “Informática y Comunicaciones” (2017)</li>
    </ul>

    <h2 class="section-title">Habilidades Técnicas</h2>
    <div class="row">
      <div class="col-md-6">
        <h4 class="text-center custom-font">Frontend</h4>
        <ul class="list-group">
          <li class="list-group-item"><i class="bi bi-filetype-js"></i> JavaScript</li>
          <li class="list-group-item"><i class="bi bi-filetype-jsx"></i> React JS</li>
          <li class="list-group-item"><i class="bi bi-filetype-tsx"></i> TypeScript</li>
          <li class="list-group-item"><i class="bi bi-bootstrap"></i> Bootstrap</li>
          <li class="list-group-item"><i class="bi bi-filetype-js"></i> Angular</li>
        </ul>
      </div>

      <div class="col-md-6">
        <h4 class="text-center custom-font">Backend</h4>
        <ul class="list-group">
          <li class="list-group-item"><i class="bi bi-person"></i> Node JS</li>
          <li class="list-group-item"><i class="bi bi-filetype-sql"></i> MySQL</li>
          <li class="list-group-item"><i class="bi bi-hdd-network"></i> .NET</li>
          <li class="list-group-item"><i class="bi bi-code-slash"></i> Express</li>
          <li class="list-group-item"><i class="bi bi-badge-cc"></i> C#</li>
          <li class="list-group-item"><i class="bi bi-database"></i> SQL Server</li>
        </ul>
      </div>
    </div>

    <h2 class="section-title">Formación Complementaria</h2>
    <ul class="list-group">

      <li class="list-group-item">🎓 Curso "Desarrollador Full Stack .NET" - Fundación ONCE (465 horas, 2023-2024)</li>
      <li class="list-group-item">🎓Mentorización .NET - Por Talento digital Fundación ONCE 06/02/2024-06/03/2024 (125
        horas)</li>
      <li class="list-group-item">🎓 Curso "Desarrollo JS con Angular, React y Node" - Fundación ONCE (320 horas, 2023)
      </li>
      <li class="list-group-item">🎓 Curso "Introducción a la Programación" - Fundación ONCE (200 horas, 2023)</li>
      <li class="list-group-item">🎓 Curso "Introducción al Desarrollo Web I y II" - Google Actívate (80 horas, 2021)
      </li>
      <li class="list-group-item">🎓 Administración de equipos informáticos y ofimatica en la nube - Andalucía
        Compromiso digital 17/12/2020-28/01/2021
        (30 horas)
      </li>
      <li class="list-group-item">🎓 Dinamizador de cursos elearning - Andalucía
        Compromiso digital 17/12/2020-28/01/2021
        (30 horas)
      </li>
      <li class="list-group-item">🎓 Introducción a la inteligencia artificial - Fundación ONCE 22/03/2021-19/04/2021
        (30 horas)
      </li>
      <li class="list-group-item">🎓 Curso "Seguridad Informática" - Andalucía Compromiso Digital (30 horas, 2020)</li>

      <li class="list-group-item">🎓Community manager: Conviertete en un profesional de la redes sociales - Andalucía
        Compromiso Digital 07/07/2020-05/08/2020 (30 horas) </li>
      <li class="list-group-item">🎓Iniciación a la programación web: PHP - Andalucía
        Compromiso Digital 26/10/2020-26/11/2020 (30 horas) </li>
    </ul>

    <a class="btn btn-primary mt-4"
      href="https://drive.google.com/file/d/1LzwLdaKRnNuMmh5VMYhAu77jrwSi8G9d/view?usp=sharing">
      <i class="bi bi-file-earmark-text"></i> Ver mi CV
    </a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
