<div class="container">
  <h1 class="custom-font">Hola, me llamo Guillermo Fuentes Buenosvinos, soy Técnico informático y vivo en Cañete de las
    Torres</h1>
  <img src="assets/primeraImagen.jpg" class="img-fluid img-thumbnail" alt="imagen portada">
  <h2 class="custom-font">Algunos de mis trabajos</h2>
  <div class="d-flex"> <!-- Contenedor con display flex para colocar las tarjetas en horizontal -->
    <div class="card mx-2" style="width: 18rem;">
      <img src="assets/primeraImagenProyecto.PNG" class="card-img-top img-thumbnail"
        alt="Primera imagen de mi proyecto">
      <div class="card-body">
        <h5 class="card-title">Gestor de tareas</h5>
        <p class="card-text">Este es mi primer proyecto que he realizado durante el curso de programación el cual me ha
          aportado el cómo realizar una página web de manera correcta</p>
        <a href="https://tareas-66631.firebaseapp.com/home" class="btn btn-primary">Ver proyecto</a>
      </div>
    </div>
    <div class="card mx-2" style="width: 18rem;">
      <img src="assets/glucontrol/movil.png" class="card-img-top img-thumbnail" alt="imagen para promocionar proyecto">
      <div class="card-body">
        <h5 class="card-title">Gluco Control</h5>
        <p class="card-text">Este es mi segundo proyecto de hecho es un proyecto colaborativo el cual me ha aportado
          bastante conocimiento. Dejare el enlace del repositorio para quien quiera verlo. Si quieren ver mas
          informacion del proyecto vayan a la seccion proyectos de esta pagina web</p>
        <a href="https://github.com/blackl1ght98/Glucontrol_App" class="btn btn-primary">Ver proyecto</a>
      </div>
    </div>
    <div class="card mx-2" style="width: 18rem;">
      <img src="assets/IntroASP/1.PNG" class="card-img-top img-thumbnail" alt="imagen para promocionar proyecto">
      <div class="card-body">
        <h5 class="card-title">Introducción a MVC </h5>
        <p class="card-text">Este es un proyecto realizado por cuenta propia y es un proyecto que me ha
          servido para comprender como funciona MVC
        </p>
        <a href="https://github.com/blackl1ght98/CRUD-Proyecto-MVC" class="btn btn-primary">Ver proyecto</a>
      </div>

    </div>
    <div class="card mx-2" style="width: 18rem;">
      <img src="assets/gestorcitas/cuarta.PNG" class="card-img-top img-thumbnail"
        alt="imagen para promocionar proyecto">
      <div class="card-body">
        <h5 class="card-title">Gestor cita </h5>
        <p class="card-text">Este es un proyecto realizado por cuenta propia y es un proyecto que me ha
          en el cual puedes anotar tus citas como si de una agenda se tratase. Este proyecto a pesar de que esta abs
          echo en mvc pero esta montado con el front por separado esto me ayudo a comprender que un proyecto mvc
          puedes hacer que se comporte como si fuese un proyecto tipo api

        </p>
        <a href="https://github.com/blackl1ght98/CRUD-Proyecto-MVC" class="btn btn-primary">Ver proyecto</a>
      </div>
    </div>

  </div>
  <h2 class="custom-font">Contacta conmigo por este <a href="mailto:fuentesbuenosvinosguillermo@gmail.com">correo
      electrónico</a></h2>
